{{ define "head" }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="/frontend/dist/style.css">
	<link rel="stylesheet" href="/frontend/dist/bootstrap.min.css">
	<link rel="stylesheet" href="/frontend/dist/video-js.min.css">
	<link rel="stylesheet" href="/frontend/dist/react-widgets.css">
	<script src="/frontend/dist/editor.js" defer></script>
	<title>Meerkat Editor</title>
{{ end }}
<!-- preact ../frontend/src/edit.jsx -->
