
# The address, in host:port format, to serve meerkat from. For example 0.0.0.0:6969. The default is “:8080” i.e. all IPv4, IPv6 addresses port 8080.
HTTPAddr = "0.0.0.0:8080"

# A URL pointing to an instance of Icinga serving the Icinga API
IcingaURL = "https://127.0.0.1:5665"

# The username and password with which to authenticate to Icinga. Normally set in /etc/icinga2/conf.d/api-users.conf on your Icinga2 master.
IcingaUsername = "meerkat"
IcingaPassword = "YOUR SECURE PASSWORD HERE"

# If set to true, verification of the TLS certificates served by the Icinga API is skipped. This is often required when Icinga is configured with self-signed certificates.
#IcingaInsecureTLS = true

# If set to true, meerkat will serve data over http2 using the crt and key.
SSLEnable = true
SSLCert = ""
SSLKey = ""

# If set to true, meerkat will log to file.
FileLog = true
# If set to true, meerkat will log to console.
ConsoleLog = false
# Path to folder to store log files.
LogLocation = "/var/log/meerkat/"
# Max size of log file in MB.
MaxLogSize = 10
# Max number of log files.
MaxBackups = 5
# Max number of days to keep old log files.
MaxAge = 7

# If set to true meerkat will output icinga api debug information.
IcingaDebug = false