[Unit]
Description=meerkat
Documentation=https://meerkat.run
After=network.target

[Service]
WorkingDirectory=/usr/local/meerkat/
ExecStart=/usr/local/meerkat/meerkat
User=meerkat

[Install]
WantedBy=multi-user.target
