:root {
	--color-dark-orange: #f0570d;
	--color-orange: #ec6c30;
	--color-light-orange: #ff854c;
	--color-light-blue: #cce5eb;
	--color-blue: #476C9B;
	--color-teal: #468C98;
	--color-black: #101419;
	--color-gray: #797979;
	--color-light-gray: #d1d9db;
	--color-white: #eeeeee;
	--color-light-black: #21272f;

	--color-icinga-red: #f56;
	--color-icinga-green: #4b7;
	--color-icinga-purple: #a4f;
	--color-icinga-yellow: #fa4;
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Nunito Light'), local('Nunito-Light'), url(/res/fonts/nunito-light.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Nunito Regular'), local('Nunito-Regular'), url(/res/fonts/nunito-regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Nunito Bold'), local('Nunito-Bold'), url(/res/fonts/nunito-bold.woff2) format('woff2');
}

* {
	box-sizing: border-box;
}

@keyframes flash-in {
	0% {background-color: transparent;}
	50% {background-color: #ffffff73;}
	100% {background-color: transparent;}
}

@keyframes expand-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1.0;
		transform: scale(1.0);
	}
}

@keyframes slide-up {
	from { transform: translate(0, 40px); }
	to { transform: translate(0, 0); }
}

@keyframes slide-right {
	from { transform: translate(-100%, 0); }
	to { transform: translate(0%, 0); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: var(--color-black)
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 15px;
}

hr {
	height: 0;
	border: 0;
	margin-top: 0;
	border-bottom: solid 1px #aaa;
}

a {
	color: var(--color-blue);
	cursor: pointer;
}

a:hover, a:focus {
	color: var(--color-light-blue);
}

.lefty-righty {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lefty-righty > * {
	margin-bottom: 0;
}

.center {
	display: flex;
	justify-content: center;
}

.right {
	display: flex;
	justify-content: end;
	align-items: center;
}

.left {
	display: flex;
	justify-content: start;
	align-items: center;
}

.spacer {
	margin-bottom: 15px;
}

.no-margin {
	margin: 0;
}

.subtle {
	margin: 20px auto;
	text-align: center;
	font-style: italic;
	font-size: 16px;
}

span.tiny {
	font-size: 12px;
	font-style: italic;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* INPUTS */
label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

label~input, label~select, label~textarea {
	margin-bottom: 15px;
}
.element-title {
	display: inline-block;
	padding-right: 6em;
}

button {
	cursor: pointer;
	background-color: var(--color-dark-orange);
	border: 0;
	border-radius: 40px;
	padding: 10px 20px;
	font-size: 16px;
	color: var(--color-white);
}

button:hover, button:focus {
	background-color: var(--color-orange);
}

button.loading, div.loading {
	display: flex;
	align-items: center;
}

div.loading {
	font-style: italic;
}

button.loading::before, div.loading::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-right: 10px;
	border-radius: 20px;
	border: solid 2px transparent;
	border-top-color: currentColor;
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

button.small {
	padding: 4px 8px;
	font-size: 12px;
	text-transform: uppercase;
}

button.hollow {
	border: solid 1px var(--color-dark-orange);
	color: var(--color-orange);
	background-color: transparent;
}

button.hollow:hover, button.hollow:focus {
	color: var(--color-orange);
	border-color: var(--color-orange);
}

div.small {
	font-size: 14px;
}

button.small.loading::before,
div.small.loading::before {
	width: 10px;
	height: 10px;
}

input, select, textarea {
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: solid 1.5px var(--color-gray);
	transition: 300ms border-color;
}

textarea {
	resize: vertical;
	min-height: 80px;
}

input:focus, select:focus {
	border-color: var(--color-blue);
}

select[multiple] {
	padding: 0;
}

select[multiple] option {
	padding: 8px;
}

input[type="file"] {
	background-color: white;
}
input[type="color"] {
	width: 36px;
	height: 36px;
	margin-right: 5px;
}

input::placeholder {
	color: #cccccc;
	opacity: 1;
}

div.selection {
	display: flex;
	font-size: 15px;
}

label~div.selection {
	margin-bottom: 15px;
}

div.selection > .selector {
	padding: 4px 8px;
	background-color: white;
	border: solid 1.5px var(--color-gray);
	border-left: 0;
	cursor: pointer;
	color: var(--color-black);
	border-radius: 0;
}

div.selection > .selector:hover {
	background-color: #eee;
}
div.selection > .selector.active {
	background-color: var(--color-light-orange);
	color: white;
}

div.selection > .selector:first-child {
	border-radius: 3px 0 0 3px;
	border: solid 1.5px var(--color-gray);
}

div.selection > .selector:last-child {
	border-radius: 0 3px 3px 0;
}

/* COPY SELECTION BOX */
div.copy-box {
	position: relative;
}

div.copy-box > input {
	background-color: #f9f6f6;
	padding-right: 32px;
	cursor: pointer;
}

div.copy-box > svg {
	width: 24px;
	height: 24px;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 5px;
	color: var(--color-light-black);
	cursor: pointer;
}

/* MODAL */
div.modal-wrap {
	background-color: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	animation-name: fade-in;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

div.modal-wrap .modal {
	position: fixed;
	background-color: white;
	padding: 20px;
	left: calc(50% - 200px);
	width: 400px;
	top: 20vh;
	color: var(--color-black);
	border-radius: 4px;
	animation-name: slide-up;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

/* HOME */
div.home {
	max-width: 600px;
	margin: 10vh auto;
}

div.home h1.title {
	font-size: 80px;
	font-weight: lighter;
}

div.home h1 {
	text-align: center;
}

div.home .filter-wrap {
	display: flex;
	margin-bottom: 10px;
}

div.home .filter-wrap #filter {
	font-size: 20px;
	padding: 12px 16px;
}

.filter-results .dashboard-listing {
	border: solid 1px var(--color-light-gray);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.dashboard-listing h3 {
	margin-bottom: 0;
}

.dashboard-listing div.timestamps {
	font-size: 16px;
}

.dashboard-listing div.timestamps > a {
	margin: 0 4px;
}

.dashboard-listing div.timestamps > a:first-child {
	margin-left: 0;
}

.dashboard-listing div.timestamps > a:last-child {
	margin-right: 0;
}

/* EDITOR DASHBOARD */
div.dashboard-wrap {
	margin: 20px;
	margin-left: 400px;
	min-height: calc(100vh - 40px); /* margin * 2 */
	display: flex;
	flex-direction: column;
}

.dashboard-wrap .dashboard {
	background-size: 100% 100%;
	border: solid 1.5px var(--color-gray);
	flex-grow: 1;
	border-radius: 4px;
	position: relative;
}

.dashboard.view-only {
	background-size: 100% 100%;
	width: 100vw;
	height: 100vh;
}

.dashboard.view-only .check {
	cursor: default;
}

.dashboard.view-only button.view-only-button {
	position: absolute;
	bottom: 20px;
	left: 20px;
	opacity: .4;
	transition: opacity 400ms;
}

.dashboard.view-only button.view-only-button:hover {
	opacity: 1.0;
}

/* EDITOR */
div.editor {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 80px;
	max-width: 200px;
	background-color: var(--color-light-gray);
	min-width: 380px;
	overflow-y: auto;
}

.editor .options {
	padding: 20px;
	flex-grow: 1;
}

.editor.settings-overlay {
	animation-name: slide-right;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-duration: 100ms;
}

div.side-bar-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: var(--color-light-gray);
	min-width: 380px;
	border-top: solid 1px #aaa;
}

/* DASHBOARD ELEMENTS */
.check {
	cursor: move;
	position: absolute;
	overflow: hidden;
}

.check.glow {
	outline: 2px solid var(--color-light-orange);
}

.check > div.resize {
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 12px;
	height: 12px;
	background-color: var(--color-light-orange);
	cursor: se-resize;
}

.check > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.check > .text {
	white-space: pre;
	display: flex;
}

.check > .svg > svg {
	width: 100%;
	height: 100%;
}

.check > .image > img {
	width: 100%;
	height: 100%;
}

.check > .card {
	padding: 6px 10px;
	color: white;
	background-color: var(--color-black);
	display: flex;
	justify-content: center;
	align-items: center;
}

.check > .card.critical, .check > .card.down {background-color: var(--color-icinga-red)}
.check > .card.ok, .check > .card.up {background-color: var(--color-icinga-green)}
.check > .card.unknown {background-color: var(--color-icinga-purple)}
.check > .card.warning {background-color: var(--color-icinga-yellow)}

.check > .card > div.check-state {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 60px;
}

.element-list > .element-item {
	font-size: 18px;
	cursor: pointer;
}

.element-list > .element-item > .drop-zone {
	height: 10px;
	border-radius: 8px;

	transition: height 200ms;
}

.element-list > .element-item > .drop-zone.active {
	background-color: var(--color-light-orange);
	opacity: 50%;
	height: 20px;
}

.element-list > .element-item:hover {
	color: var(--color-orange);
}