:root {
	--color-icinga-red: #ff0019;
	--color-icinga-green: #0ee16a;
	--color-icinga-purple: #970ee1;
	--color-icinga-yellow: #ff9000;
}

@keyframes marqueeX {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
}

@keyframes slide-up {
	from { transform: translate(0, 40px); }
	to { transform: translate(0, 0); }
}

@keyframes slide-right {
	from { transform: translate(-100%, 0); }
	to { transform: translate(0%, 0); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

header {
	display: flex;
	justify-content: space-between;
}

.lefty-righty {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lefty-righty > * {
	margin-bottom: 0;
}

.center {
	display: flex;
	justify-content: center;
}

.right {
	display: flex;
	justify-content: end;
	align-items: center;
}

.left {
	display: flex;
	justify-content: start;
	align-items: center;
}

.spacer {
	margin-bottom: 15px;
}

.subtle {
	margin: 20px auto;
	text-align: center;
	font-style: italic;
	font-size: 16px;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

div.loading {
	display: flex;
	align-items: center;
	font-style: italic;
}

div.loading::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-right: 10px;
	border-radius: 20px;
	border: solid 2px transparent;
	border-top-color: currentColor;
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

input[type="color"] {
	width: 46px;
	height: 43px;
	margin-right: 5px;
	border-radius: 5px;
	border-style: none;
}

div.selection {
	display: flex;
	font-size: 15px;
}

label~div.selection {
	margin-bottom: 15px;
}

div.selection > .selector {
	padding: 4px 8px;
	background-color: white;
	border: solid 1.5px #ced4da;
	border-left: 0;
	cursor: pointer;
	color: black;
	border-radius: 1px;
}

div.selection > .selector:hover {
	background-color: #eee;
}

div.selection > .selector.active {
	background-color: #007bff;
	color: white;
}

div.selection > .selector:first-child {
	border-radius: 3px 0 0 3px;
	border: solid 1.5px #ced4da;
}

div.selection > .selector:last-child {
	border-radius: 0 3px 3px 0;
}

/* COPY SELECTION BOX */
div.copy-box {
	position: relative;
}

div.copy-box > input {
	background-color: #f9f6f6;
	padding-right: 32px;
	cursor: pointer;
}

div.copy-box > svg {
	width: 24px;
	height: 24px;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 5px;
	color: black;
	cursor: pointer;
}

/* MODAL */
div.modal-wrap {
	background-color: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	animation-name: fade-in;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

div.modal-wrap .modal-fixed {
	position: fixed;
	background-color: white;
	padding: 20px;
	left: calc(50% - 200px);
	width: 400px;
	top: 20vh;
	color: black;
	border-radius: 4px;
	animation-name: slide-up;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

.home {
	max-width: 600px;
	margin: 10vh auto;
}

.dashboard-listing {
	display: flex;
	justify-content: space-between;
	background-color: #333f46;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.clock {
	font-variant-numeric: tabular-nums;
	pointer-events: none;
}

/* EDITOR DASHBOARD */
div.dashboard-wrap {
	margin: 20px;
	margin-left: 400px;
	display: flex;
}

.dashboard-wrap .dashboard {
	border: 1.5px solid rgba(0, 0, 0, 0.2);;
	flex-grow: 1;
	border-radius: 4px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard.view-only {
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes rotate {
	to {
	  stroke-dashoffset: 227;
	}
}

.audio-player {
	width: 150px;
}

audio::-webkit-media-controls-overlay-play-button{
    display: none;
}

audio::-webkit-media-controls-overlay-enclosure{
	width: 25px;
}

audio::-webkit-media-controls-timeline {
	display: none !important;
}

audio::-webkit-media-controls-current-time-display {
	display: none;
}

audio::-webkit-media-controls-time-remaining-display {
	display: none;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.video-overlay {
	pointer-events: none;
}

.video-player {
	pointer-events: auto;
}

.dashboard.view-only .check {
	cursor: default;
}

.editor {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 80px;
	max-width: 200px;
	background-color: #333f46;
	min-width: 380px;
	overflow-y: auto;
	padding: 20px;
}

.editor.settings-overlay {
	animation-name: slide-right;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-duration: 100ms;
}

div.side-bar-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px;
	background-color: #333f46;
	min-width: 380px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

div.pill {
	border-radius: 5px;
	padding: 0 5px;
	background-color: #343a40;
	color: white;
	display: inline-flex;
	align-items: center;
	margin: 0 5px 5px 9px;
	font-size: 10px;
	text-transform: uppercase;
}

div.tag .close-icon {
	padding: 4px 0 4px 4px;
	cursor: pointer;
}

/* DASHBOARD ELEMENTS */
.ticker > .check-content,
.check > .check-content {
	overflow: hidden;
}

.ticker > .edit,
.check > .edit {
	position: absolute;
}

.check {
	cursor: move;
	position: absolute;
	overflow: hidden;
	text-transform: uppercase;
}

.check-editing {
	overflow: visible;
}

.check.glow {
	outline: 3px solid #0008ff;
}

.check > .edit {
	top: -20px;
	right: -30px;
}

.check > div.resize {
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 12px;
	height: 12px;
	background-color: #007bff;
	cursor: se-resize;
	border-radius: 1px;
}

.check > div.rotate {
	position: absolute;
	right: 2px;
	top: calc(50% - 6px);
	width: 6px;
	height: 12px;
	background-color: #007bff;
	cursor: ns-resize;
	border-radius: 1px;
}

.check > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.check > .text {
	white-space: pre;
}

.text {
	text-transform: none !important;
	word-wrap: break-word;
}

.check > .svg > svg,
.check > .image > img {
	width: 100%;
	height: 100%;
}

.warning-ack {
	background-color: #ffca39 !important;
}

.critical-ack {
	background-color: #de5e84 !important;
}

.down-ack {
	background-color: #de5e84 !important;
}

.unknown-ack {
	background-color: #b594b5 !important;
}

.check .card {
	padding: 6px 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 100%;
	white-space: pre-wrap;
}

.card.critical, .card.down {
	background-color: var(--color-icinga-red);
}

.card.ok, .card.up {
	background-color: var(--color-icinga-green);
}

.card.unknown {
	background-color: var(--color-icinga-purple);
}

.card.warning {
	background-color: var(--color-icinga-yellow);
}

.check > a > div.check-content.svg > svg.feather {
	display:block;
	line-height: 0;
	left: 100% !important;
	top: 100% !important;
	width: 100% !important;
	height: 100% !important;
}

.check-content {
	display: flex;
}

.ticker {
	cursor: move;
	position: absolute;
	overflow: hidden;
	width: 100vw;
}

.ticker-editing {
	overflow: visible;
}

.ticker > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.ticker > .edit {
	top: -20px;
	right: 2px;
}

.ticker > div.resize {
	position: absolute;
	right: 50%;
	bottom: 0;
	width: 10px;
	height: 10px;
	background-color: #2196F3;
	cursor: ns-resize;
	border-radius: 3px;
}

.ticker > .check-content.ticker {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

.view-ticker {
	cursor: default;
	position: absolute;
	overflow: hidden;
	width: 100vw;
}

.view-ticker > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.view-ticker > .check-content.ticker {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

.scrolling-text {
	cursor: default;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	animation: marqueeX 15s linear infinite;
	white-space: nowrap;
	width: 100%;
	height: 100%;
}

div.check-content.svg {
	display: block;
	line-height: 0;
	height: 100%;
}

.check-state {
	-webkit-text-stroke-width: 0.03em;
	-webkit-text-stroke-color: black;
}

a {
	text-decoration: none!important;
}

.element-list > .element-item {
	font-size: 18px;
	cursor: pointer;
}

.element-list > .element-item > .drop-zone {
	height: 10px;
	border-radius: 8px;

	transition: height 200ms;
}

.element-list > .element-item > .drop-zone.active {
	opacity: 50%;
	height: 20px;
}

.element-list > .element-item:hover {
	color: #797979;
}
