:root {
	--color-dark-orange: #f0570d;
	--color-orange: #ec6c30;
	--color-light-orange: #ff854c;
	--color-light-blue: #cce5eb;
	--color-blue: #476C9B;
	--color-teal: #468C98;
	--color-black: #101419;
	--color-gray: #797979;
	--color-light-gray: #d1d9db;
	--color-white: #eeeeee;
	--color-light-black: #21272f;
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Nunito Light'), local('Nunito-Light'), url(/res/fonts/nunito-light.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Nunito Regular'), local('Nunito-Regular'), url(/res/fonts/nunito-regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Nunito Bold'), local('Nunito-Bold'), url(/res/fonts/nunito-bold.woff2) format('woff2');
}

* {
	box-sizing: border-box;
}

@keyframes flash-in {
	0% {background-color: transparent;}
	50% {background-color: #ffffff73;}
	100% {background-color: transparent;}
}

@keyframes slide-up {
	from { transform: translate(0, 40px); }
	to { transform: translate(0, 0); }
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: var(--color-black)
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 20px;
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px solid var(--color-light-gray);
}

a {
	color: var(--color-blue);
	cursor: pointer;
}

a:hover, a:focus {
	color: var(--color-light-blue);
}

.lefty-righty {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lefty-righty > * {
	margin-bottom: 0;
}

.center {
	display: flex;
	justify-content: center;
}

.right {
	display: flex;
	justify-content: end;
}

.subtle {
	margin: 20px auto;
	text-align: center;
	font-style: italic;
}

span.tiny {
	font-size: 12px;
	font-style: italic;
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* INPUTS */
label {
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

label~input, label~select {
	margin-bottom: 20px;
}

button {
	cursor: pointer;
	background-color: var(--color-dark-orange);
	border: 0;
	border-radius: 40px;
	padding: 10px 20px;
	font-size: 16px;
	color: var(--color-white);
}

button:hover, button:focus {
	background-color: var(--color-orange);
}

button.loading, div.loading {
	display: flex;
	align-items: center;
}

div.loading {
	font-style: italic;
}

button.loading::before, div.loading::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: transparent;
	margin-right: 10px;
	border-radius: 20px;
	border: solid 2px transparent;
	border-top-color: currentColor;
	animation-name: spin;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
}

button.small {
	padding: 6px 12px;
	font-size: 12px;
	text-transform: uppercase;
}

div.small {
	font-size: 14px;
}

button.small.loading::before,
div.small.loading::before {
	width: 10px;
	height: 10px;
}

input, select {
	width: 100%;
	padding: 8px;
	border-radius: 3px;
	border: solid 1.5px var(--color-gray);
	transition: 300ms border-color;
}

input:focus, select:focus {
	border-color: var(--color-blue);
}

select[multiple] {
	padding: 0;
}

select[multiple] option {
	padding: 8px;
}

input[type="file"] {
	background-color: white;
}

input::placeholder {
	color: #cccccc;
	opacity: 1;
}

/* COPY SELECTION BOX */
div.copy-box {
	position: relative;
}

div.copy-box > input {
	background-color: #f9f6f6;
	padding-right: 32px;
	cursor: pointer;
}

div.copy-box > svg {
	width: 24px;
	height: 24px;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 5px;
	color: var(--color-light-black);
	cursor: pointer;
}

/* MODAL */
div.modal-wrap {
	background-color: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	animation-name: fade-in;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

div.modal-wrap .modal {
	position: fixed;
	background-color: white;
	padding: 20px;
	left: calc(50% - 200px);
	width: 400px;
	top: 20vh;
	color: var(--color-black);
	border-radius: 4px;
	animation-name: slide-up;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 300ms;
}

/* HOME */
div.home {
	max-width: 600px;
	margin: 10vh auto;
}

div.home h1.title {
	font-size: 80px;
	font-weight: lighter;
}

div.home h1 {
	text-align: center;
}

div.home .filter-wrap {
	display: flex;
	margin-bottom: 10px;
}

div.home .filter-wrap #filter {
	font-size: 20px;
	padding: 12px 16px;
}

.filter-results .dashboard-listing {
	border: solid 1px var(--color-light-gray);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.dashboard-listing h3 {
	margin-bottom: 0;
}

.dashboard-listing div.timestamps {
	font-size: 16px;
}

.dashboard-listing div.timestamps > a {
	margin: 0 4px;
}

.dashboard-listing div.timestamps > a:first-child {
	margin-left: 0;
}

.dashboard-listing div.timestamps > a:last-child {
	margin-right: 0;
}

/* EDITOR DASHBOARD */
div.dashboard-wrap {
	margin: 20px;
	margin-left: 400px;
	min-height: calc(100vh - 40px); /* margin * 2 */
	display: flex;
	flex-direction: column;
}

.dashboard-wrap .dashboard {
	background-size: cover;
	border: solid 1.5px var(--color-gray);
	flex-grow: 1;
	border-radius: 4px;
	position: relative;
}

/* EDITOR */
div.editor {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	max-width: 200px;
	background-color: var(--color-light-gray);
	min-width: 380px;
	display: flex;
	justify-content: space-between;
}

.editor .options {
	padding: 20px;
	flex-grow: 1;
}

.editor .icons {
	display: flex;
	flex-direction: column;
	background-color: var(--color-black);
	color: var(--color-light-blue);
}

.editor .icons .icon-wraps {
	padding: 12px 20px 10px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

.icon-wraps:last-child {
	margin-top: auto;
}

.editor .icons .icon-wraps.active {
	color: var(--color-light-orange);
}

.editor .icons .icon-wraps:hover {
	background-color: var(--color-light-black);
}

.icons .icon-wraps .label {
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 6px;
}

/* DASHBOARD ELEMENTS */
.check {
	cursor: move;
	position: absolute;
}

.check > div.resize {
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 12px;
	height: 12px;
	background-color: var(--color-light-blue);
	cursor: se-resize;
	border-radius: 8px;
	border: solid 1.5px var(--color-black);
}

.check > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.check > .card {
	background-color: var(--color-light-gray);
	border: solid 1.5px var(--color-black);
	border-radius: 4px;
	padding: 6px 10px;
}

.check > .card > p {
	text-align: center;
}

.check-list > .check-item {
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 18px;
	margin-bottom: 6px;
	cursor: pointer;
	
	animation-name: flash-in;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-duration: 500ms;
}

.check-list > .check-item:hover {
	/* animation messing with this, so apply !important */
	background-color: #ffffff73!important;
}