stages:
  - build
  - test

variables:
  ARTIFACTS_DIR: artifacts
  GO_PROJECT: gitlab.sol1.net/oss/meerkat

build-backend:
  stage: build
  image: golang:buster
  before_script:
    - 'which git || ( apt install git )'
    - mkdir -p ${GOPATH}/src/${GO_PROJECT}
    - mkdir -p ${CI_PROJECT_DIR}/${ARTIFACTS_DIR}
    - cp -r ${CI_PROJECT_DIR}/* ${GOPATH}/src/${GO_PROJECT}/
    - cd ${GOPATH}/src/${GO_PROJECT}/backend
  script:
    - go get ./...
    # - go test
    - go build -o ${CI_PROJECT_DIR}/${ARTIFACTS_DIR}/meerkat
  artifacts:
    paths:
      - ${ARTIFACTS_DIR}

test:
test-e2e:
  stage: test
  tags:
    - sol1-hq
  image: node:lts
  script:
    - |
      cat > /tmp/meerkat.toml <<END_CONFIG
        HTTPAddr = "0.0.0.0:8585"
        IcingaURL = "$ICINGA_URL"
        IcingaUsername = "$ICINGA_USERNAME"
        IcingaPassword = "$ICINGA_PASSWORD"
        IcingaInsecureTLS = true
      END_CONFIG
    - ${ARTIFACTS_DIR}/meerkat -config /tmp/meerkat.toml &
    - MEERKAT_PID=$!
    # TODO run cypress stuff against Meerkat backend at http://localhost:8585/
    - kill $MEERKAT_PID
