stages:
  - build
  - test

build-backend:
  image: golang:alpine
  stage: build
  script:
    - apk add --update --no-cache gcc libc-dev git
    - cd backend
    - go build
  artifacts:
    paths:
      - backend/meerkat
    expire_in: 1 week

test:
  tags:
    - sol1-hq
  image: node:lts
  stage: test
  script:
    - apt-get update && apt install curl
    - |
      cat > /tmp/meerkat.toml <<END_CONFIG
        HTTPAddr = "0.0.0.0:8585"
        IcingaURL      = "$ICINGA_URL"
        IcingaUsername = "$ICINGA_USERNAME"
        IcingaPassword = "$ICINGA_PASSWORD"
        IcingaInsecureTLS = true
      END_CONFIG
    - ls -al /tmp/meerkat.toml
    - backend/meerkat -config /tmp/meerkat.toml &
    - curl -o - http://localhost:8585/
    - echo $?
    - MEERKAT_PID=$!
    - kill $MEERKAT_PID