stages:
  - build
  - test

variables:
  BIN_NAME: meerkat
  ARTIFACTS_DIR: artifacts
  GO_PROJECT: gitlab.sol1.net/oss/meerkat

build-backend:
  image: golang:buster
  stage: build
  before_script:
    - 'which git || ( apt install git )'
    - mkdir -p ${GOPATH}/src/${GO_PROJECT}
    - mkdir -p ${CI_PROJECT_DIR}/${ARTIFACTS_DIR}
    - cp -r ${CI_PROJECT_DIR}/* ${GOPATH}/src/${GO_PROJECT}/
    - cd ${GOPATH}/src/${GO_PROJECT}/${BIN_NAME}
  script:
    - go get ./...
    - go test
    - go build -o ${CI_PROJECT_DIR}/${ARTIFACTS_DIR}/${BIN_NAME}
  artifacts:
    paths:
      - ${ARTIFACTS_DIR}

test:
  tags:
    - sol1-hq
  image: node:lts
  stage: test
  script:
    - apt-get update && apt install curl
    - |
      cat > /tmp/meerkat.toml <<END_CONFIG
        HTTPAddr = "0.0.0.0:8585"
        IcingaURL      = "$ICINGA_URL"
        IcingaUsername = "$ICINGA_USERNAME"
        IcingaPassword = "$ICINGA_PASSWORD"
        IcingaInsecureTLS = true
      END_CONFIG
    - ls -al /tmp/meerkat.toml
    - pwd
    - ls -al backend
    - $PWD/backend/meerkat -config /tmp/meerkat.toml &
    - curl -o - http://localhost:8585/
    - echo $?
    - MEERKAT_PID=$!
    - kill $MEERKAT_PID