version: '3.3'

x-meerkat-production: &meerkat-production
  build: .
  image: hub.sol1.net/meerkat:latest
  volumes:
    - ./config:/meerkat/config
    - ./dashboards:/meerkat/dashboards
    - ./dashboards-data:/meerkat/dashboards-data
    - ./backend/settings.json:/meerkat/settings.json
  ports:
    - 8585:8585

# when any changes are made to backend code,
# rebuild and restart backend, e.g.
#
# host$ docker-compose up be fe
# host$ docker-compose rm be -s -v
# host$ docker-compose build be
# host$ docker-compose up be fe
x-backend-development: &backend-development
  build:
    context: .
    target: backend
  working_dir: /app
  command: sh -c "
    cp /root/backend/meerkat . &&
    ./meerkat
    "
  volumes:
    - ./backend/settings.json:/app/settings.json
    - ./frontend:/app/frontend
    - ./config/meerkat.toml:/app/meerkat.toml
    - ./dashboards-data:/app/dashboards-data
  ports:
    - 8585:8585

# changes to frontend code are being watched and recompiled
# no need to rebuild nor restart frontend
x-frontend-development: &frontend-development
  image: node:lts
  working_dir: /app/frontend
  command: sh -c "
    npm install &&
    npm run dev
    "
  volumes:
    - ./version:/app/version
    - ./frontend:/app/frontend

services:
  app:
    <<: *meerkat-production
  be:
    <<: *backend-development
  fe:
    <<: *frontend-development
