{{ define "body" }}
{{ template "nav" }}
<header class="container">
    <div class="d-flex align-items-center justify-content-between">
        <h3>Cache View</h3>
    </div>
    <hr>
</header>
<main class="container index">
    <div class="d-grid gap-2">
        <button class="btn btn-primary" onclick="clearDashboardCache()" type="button">Clear Dashboard Cache</button>
        <button class="btn btn-primary" onclick="clearObjectCache()" type="button">Clear Object Cache</button>
    </div>
<script>
function clearDashboardCache() {
    fetch('/api/cache?clear=dashboard', {
        method: 'DELETE',
    }).then(function(response) {
        location.reload();
        return response.text();
    });
}

function clearObjectCache() {
    fetch('/api/cache?clear=object', {
        method: 'DELETE',
    }).then(function(response) {
        location.reload();
        return response.text();
    });
}
</script>
</main>
{{ end }}

