{{ define "body" }}
{{ template "nav" }}
<header class="container">
	<div class="d-flex align-items-center justify-content-between">
		<h3>Dashboards</h3>
		<span>
			<a class="btn btn-secondary" href="/clone">
				Clone
			</a>
			<a class="ms-2 btn btn-primary btn-success" href="/create">
				Create
			</a>
		</span>
	</div>
	<hr>
</header>
<main class="container">
{{ range . }}
	<div class="row mb-2 py-2 bg-dark rounded">
		<div class="col">
			<a href="/{{ .Slug }}/view">
				<big>{{ .Title }}</big>
			</a>
		</div>
		<div class="col-md-auto">
			<a class="btn btn-secondary btn-sm ms-2" href="/{{ .Slug }}/info">Info</a>
			<a class="btn btn-secondary btn-sm ms-2" href="/{{ .Slug }}/edit">Edit</a>
			<a class="btn btn-primary btn-sm ms-2" href="/{{ .Slug }}/view">View</a>
		</div>
	</div>
{{ end }}
</main>
{{ end }}
