{{ define "body" }}
{{ template "nav" }}
</header>
<main class="container">
<h2>{{ .Dashboard.Title }}</h2>
<section class="container">
<div class="row">
<div class="col-9">
	<p>
		{{ .Dashboard.Description }}
	</p>
	<table class="table">
	<tr>
		<th>Folder</th>
		<td>{{ .Dashboard.Folder }}</td>
	</tr>
	<tr>
		<th>Background</th>
		<td>{{ .Dashboard.Background }}</td>
	</tr>
	<tr>
		<th>Dimensions</th>
		<td>{{ .Dashboard.Width }}x{{ .Dashboard.Height }}</td>
	</tr>
	</table>
</div>

<div class="col-3">
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
	<a class="btn btn-danger" href="delete">Delete</a>
	<a class="btn btn-warning" href="edit">Edit</a>
	<a class="btn btn-primary" href="view">View</a>
	</div>
</div>
</div>
</section>

<hr>
<h3>Modify dashboard</h3>
<form method="POST">
	<fieldset class="form-group mb-3">
		<label class="form-label" for="title">Title</label>
		<input class="form-control" type="text" id="title" name="title" minlength="4" value="{{ .Dashboard.Title }}" placeholder="Dashboard name..."  required>

		<label class="form-label" for="description">Description</label>
		<input class="form-control" type="text" id="description" name="description" minlength="10" value="{{ .Dashboard.Description }}" placeholder="Dashboard description...">

		<label class="form-label" for="folder">Folder</label>
		<input class="form-control" type="text" id="folder" name="folder" minlength="4" value="{{ .Dashboard.Folder }}" placeholder="Dashboard Folder">

		<label class="form-label" for="background">Background image</label>
		<select class="form-select" id="background" name="background" aria-label="Background Select">
			<option value="">None</option>
			{{ range $index, $background := .Backgrounds }}
				<option value="/dashboards-background/{{ $background }}">{{ $background }}</option>
			{{ end }}
		</select>
	</fieldset>
	<button class="btn btn-primary btn-success" type="submit">
		Save
	</button>
</form>
<script>
	document.getElementById("background").value = "/dashboards-background/{{ .Dashboard.Background }}";
</script>
</main>
{{ end }}
