<!DOCTYPE html>
<html lang="en">
<head>
{{ block "head" . }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/dist/bootstrap.min.css">
	<title>Meerkat</title>
{{ end }}
</head>
<body>
{{ block "body" . }}
{{ end }}
</body>
</html>
