{{ define "nav" }}
<nav class="navbar navbar-dark navbar-expand-md bg-primary mb-3">
<a class="navbar-brand ms-3" href="/">Meerkat</a>
<ul class="navbar-nav me-auto">
<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Assets</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/assets/backgrounds">Backgrounds</a></li>
    	<li><a class="dropdown-item" href="/assets/sounds">Sounds</a></li>
    </ul>
</li>
<li class="nav-item">
	<a class="nav-link" href="https://meerkat.run">Documentation</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/about">About</a>
</li>
</nav>
{{ end }}
