:root {
	--color-icinga-red: #ff0019;
	--color-icinga-green: #0ee16a;
	--color-icinga-purple: #970ee1;
	--color-icinga-yellow: #ff9000;
}

@keyframes slide-right {
	from { transform: translate(-100%, 0); }
	to { transform: translate(0%, 0); }
}

.feather {
	width: 24px;
	height: 24px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.clock {
	font-variant-numeric: tabular-nums;
	pointer-events: none;
}

.dashboard-wrap {
	margin: 20px;
	margin-left: 400px; /* allow for the editor side panel */
}

.dashboard-wrap .dashboard {
	border: 1.5px solid white;
	flex-grow: 1;
	border-radius: 4px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard.view-only {
	user-select: none;
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard.view-only .check {
	cursor: default;
}

.editor {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 80px;
	width: 380px;
	overflow-y: auto;
	padding: 20px;
}

.settings-overlay {
	animation-name: slide-right;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-duration: 100ms;
}

.side-bar-footer {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 20px;
	min-width: 380px;
}

.check {
	cursor: move;
	position: absolute;
	text-transform: uppercase;
}

.check.glow {
	outline: 3px solid #0008ff;
}

.check > div.resize {
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 12px;
	height: 12px;
	background-color: #007bff;
	cursor: se-resize;
	border-radius: 1px;
}

.check > div.rotate {
	position: absolute;
	right: 2px;
	top: calc(50% - 6px);
	width: 6px;
	height: 12px;
	background-color: #007bff;
	cursor: ns-resize;
	border-radius: 1px;
}

.check > .check-content {
	pointer-events: none;
	user-select: none;
	width: 100%;
	height: 100%;
}

.check > .text {
	white-space: pre;
}

.text {
	text-transform: none !important;
	word-wrap: break-word;
}

.check > .svg > svg,
.check > .image > img {
	width: 100%;
	height: 100%;
}

.warning-ack {
	background-color: #ffca39 !important;
}

.critical-ack {
	background-color: #de5e84 !important;
}

.down-ack {
	background-color: #de5e84 !important;
}

.unknown-ack {
	background-color: #b594b5 !important;
}

.check .card {
	padding: 6px 10px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	height: 100%;
	white-space: pre-wrap;
}

.card.critical, .card.down {
	background-color: var(--color-icinga-red);
}

svg.critical {
	stroke: var(--color-icinga-red);
}

.card.ok, .card.up {
	background-color: var(--color-icinga-green);
}

svg.ok {
	stroke: var(--color-icinga-green);
}

.card.unknown {
	background-color: var(--color-icinga-purple);
}

svg.unknown {
	stroke: var(--color-icinga-purple);
}

.card.warning {
	background-color: var(--color-icinga-yellow);
}

svg.warning {
	stroke: var(--color-icinga-yellow);
}

svg.feather {
	display:block;
	line-height: 0;
	left: 100% !important;
	top: 100% !important;
	width: 100% !important;
	height: 100% !important;
}

.check-content {
	display: flex;
}

div.check-content.svg {
	display: block;
	line-height: 0;
	left: 100%;
	top: 100%;
	width: 100%;
	height: 100%;
}

.check-state {
	-webkit-text-stroke-width: 0.03em;
	-webkit-text-stroke-color: black;
	font-size: 48px;
}

a {
	text-decoration: none!important;
}

.element-item {
	cursor: pointer;
}

.element-item > .drop-zone {
	height: 10px;
	border-radius: 8px;

	transition: height 200ms;
}

.element-item > .drop-zone.active {
	opacity: 50%;
	height: 20px;
}

.element-item:hover {
	color: #797979;
}
