name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: "JS lint"
      run: |
        cd ui
        npx eslint src
        npx prettier -l src

    - name: "test"
      run: |
          if ! [ -z "`gofmt -l .`" ]; then gofmt -l . && exit 1; fi
          go test ./...

  package:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - uses: actions/setup-go@v3

      - name: create distribution tarball
        run: ./mkdist.sh .

      - name: upload tarball
        uses: actions/upload-artifact@v3
        with:
          name: meerkat.tar.gz
          path: meerkat.tar.gz
