name: demo

on:
  push:
    branches: [ "main" ]
    
jobs:
  test:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /usr/local/meerkat
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x

    - name: "JS lint"
      working-directory: /usr/local/meerkat/meerkat/meerkat
      run: |
        cd ui
        npm ci
        npx eslint src
        npx prettier -l src
        

    - name: "test"
      working-directory: /usr/local/meerkat/meerkat/meerkat
      run: |
          if ! [ -z "`gofmt -l .`" ]; then gofmt -l . && exit 1; fi
          go test ./...

  package:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: /usr/local/meerkat
    needs: [test]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - uses: actions/setup-go@v3

      - name: create distribution tarball
        working-directory: /usr/local/meerkat/meerkat/meerkat
        run: ./mkdist.sh .
        
      - name: delete previous build folder
        working-directory: /usr/local/meerkat
        run: rm -r main; mkdir main
        
      - name: extract tarball to demo install
        working-directory: /usr/local/meerkat/meerkat/meerkat
        run: tar -xf meerkat.tar.gz -C /usr/local/meerkat/main/ --exclude="dashboards"

      - name: restart demo meerkat service
        run: systemctl restart meerkat.service
